
section.content {
  width: 700px;
}

section.footer{
  width: 700px;
}

section.details {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 90px;
}

section.header img.title {
   width: 500px;
   height: auto;
}

section.details h1 {
  font-weight: 700;
  font-size: 27px;
}

section.details a {
  font-size: 27px;
}

section.details h2 {
  font-size: 22px;
}
